<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册</title>
</head>
<body>
<form action="/register" method="post">
  <label for="register_name">用户名:</label>
  <input type="text" name="username" id="register_name">
  <label for="register_password">密码:</label>
  <input type="password" name="password" id="register_password">
  <label for="register_email">邮箱:</label>
  <input type="email" name="email" id="register_email">
  <label for="register_phonenumber">电话:</label>
  <input type="text" name="phonenumber" id="register_phonenumber">
  <button type="submit">注册</button>
</form>
</body>
</html>

